{% load static %}
<!-- Car Section Begin -->
<section class="car spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="car__sidebar">
                    <div class="car__search">
                        <h5>Поиск авто</h5>
                        <form action="#">
                            <input type="text" placeholder="Марка, модель....">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="car__filter">
                        <h5>Фильтр</h5>
                        <form action="" method="get">
                            <select>
                                <option data-display="Марка">Выберите марку</option>
                                <option value="">{{ form.brand }}</option>
                            </select>
                            <select>
                                <option data-display="Модель">Выберите модель</option>
                                <option value="">{{ form.model }}</option>
                            </select>
                            <select>
                                <option value="">Кузов</option>
                                    <option value="">{{ form.body }}</option>
                            </select>
                            <select>
                                <option value="">Год выпуска</option>
                                <option value="">{{ form.year_of_issue }}</option>
                            </select>
                            <select>
                                <option value="">Пробег</option>
                                <option value="">{{ form.mileage }}</option>
                            </select>
                            <select>
                                <option value="">Объём двигателя</option>
                                <option value=""><{{ form.engine_volume }}</option>
                            </select>
                            <select>
                                <option value="">Двигатель</option>
                                <option value="">{{ form.engine_type }}</option>
                            </select>
                            <select>
                                <option value="">Коробка передач</option>
                                <option value="">{{ form.transmission_type }}</option>
                            </select>
                            <select>
                                <option value="">Цвет</option>
                                <option value="">{{ form.color }}</option>
                            </select>
                            <select>
                                <option value="">Тип кузова</option>
                                <option value="">{{ form.body_type }}</option>
                            </select>
                            <div class="filter-price">
                                <p>Цена:</p>
                                <div class="price-range-wrap">
                                    <div class="filter-price-range"></div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" id="filterAmount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="car__filter__btn">
                                <button type="submit" class="site-btn">Найти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="car__filter__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="car__filter__option__item">
                                <h6>Кол-во автомобилей</h6>
                                <select>
                                    <option value="">10</option>
                                    <option value="">20</option>
                                    <option value="">30</option>
                                    <option value="">50</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="car__filter__option__item car__filter__option__item--right">
                                <h6>Сортировать по</h6>
                                <select>
                                    <option value="">Цена: по возрастанию</option>
                                    <option value="">Цена: по убыванию</option>
                                    <option value="">Пробег: по возрастанию</option>
                                    <option value="">Пробег: по убыванию</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for car in search_car %}
                    <div class="col-lg-4 col-md-4">
                        <div class="car__item">
                            <div class="car__item__pic__slider owl-carousel">
                                <img src="{% static 'autosalon/img/cars/car-1.jpg' %}" alt="">
                                <img src="{% static 'autosalon/img/cars/car-8.jpg' %}" alt="">
                                <img src="{% static 'autosalon/img/cars/car-6.jpg' %}" alt="">
                                <img src="{% static 'autosalon/img/cars/car-3.jpg' %}" alt="">
                            </div>
                            <div class="car__item__text">
                                <div class="car__item__text__inner">
                                    <div class="label-date">{{ car.year_of_issue }} г.</div>
                                    <h5><a href="{% url 'car_details' slug=car.announcement_car_slug %}">{{ car.car_brand }} {{ car.car_model }} {{ car.car_body }}</a></h5>
                                        <ul>Пробег: {{ car.mileage }} км</ul>
                                        <ul>Коробка передач: {{ car.car_transmission_type }}</ul>
                                        <ul>Привод: {{ car.car_drive_unit_type }}</ul>
                                        <ul>Объём: {{ car.engine_volume }} л</ul>
                                        <ul>Тип двигателя: {{ car.car_engine_type }}</ul>
                                        <ul>Мощность: {{ car.engine_power }} л/с</ul>
                                        <ul>Цвет: {{ car.car_color_type }}</ul>
                                        <ul>Тип кузова: {{ car.car_body_type }}</ul>
                                </div>
                                <div class="car__item__price">
                                    <a href="{% url 'contact' %}"><span class="car-option">Купить</span></a>
                                    <h6>{{ car.price }} $</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagination__option">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><span class="arrow_carrot-2right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Car Section End -->