{% load static %}
<!-- Feature Section Begin -->
<section class="feature spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="feature__text">
                    <div class="section-title">
                        <span>Наша особенность</span>
                        <h2>За 10 лет на рынке нам доверяют 10000 клиентов!</h2>
                    </div>
                    <div class="feature__text__desc">
                        <p>Для клиента важно знать, что он может прийти в автосалон и получить полную информацию о
                        любом автомобиле, который ему понравился.</p>
                        <p>Мы предоставляем нашим клиентам полную историю об любом автомобиле. В отличие от многоих
                        наши кокнурентов, мы реализуем только провернные автомобили с чистыми документами!</p>
                    </div>
                    <div class="feature__text__btn">
                        <a href="{% url 'about' %}" class="primary-btn">О нас</a>
                        <a href="{% url 'about' %}" class="primary-btn partner-btn">Наши партнёры</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-4">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="{% static 'autosalon/img/feature/feature-1.png' %}" alt="">
                            </div>
                            <h6>Двигатель</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="{% static 'autosalon/img/feature/feature-2.png'%}" alt="">
                            </div>
                            <h6>Турбина</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="{% static 'autosalon/img/feature/feature-3.png' %}" alt="">
                            </div>
                            <h6>Температура</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="{% static 'autosalon/img/feature/feature-4.png' %}" alt="">
                            </div>
                            <h6>Подвеска</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="{% static 'autosalon/img/feature/feature-5.png' %}" alt="">
                            </div>
                            <h6>Электроника</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="{% static 'autosalon/img/feature/feature-6.png'%}" alt="">
                            </div>
                            <h6>Тормозная система</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->
