{% extends 'shop/base.html' %}


{% block title %}
    {% for car in car_details %}
        {{ car.car_brand }} {{ car.car_model }} {{ car.car_body }}
    {% endfor %}
{% endblock %}


{% block content %}

    {% include 'shop/components_index/page_preloder.html' %}

    {% include 'shop/components_index/offcanvas_menu.html' %}

    {% include 'shop/components_index/header_section.html' %}

    {% include 'transport/components_car/breadcrumb.html'%}

    {% include 'transport/components_car/car_details_section.html'%}

    {% include 'shop/components_index/footer_section.html' %}

{% endblock %}