{% extends 'shop/base.html' %}

{% block title %}
    {% for car in one_car %}
      {{ car.brand }} {{ car.model }} {{ car.body }}
    {% endfor %}
{% endblock %}

{% block content %}
    {% for car in one_car %}
        <h1>{{ car.brand }} {{ car.model }} {{ car.body }}</h1>
        <h2>Цена: {{ car.price }} $</h2>
        <h2>Год выпуска: {{ car.year_of_issue }} г.</h2>
        <h2>Пробег: {{ car.mileage }} км</h2>
        <h2>Объём двигателя: {{ car.engine_volume }} л.</h2>
        <h2>Тип двигателя: {{ car.engine_type }}</h2>
        <h2>Мощность двигателя: {{ car.engine_power }} л/с</h2>
        <h2>Коробка передач: {{ car.transmission }}</h2>
        <h2>Тип привода: {{ car.drive_unit }}</h2>
        <h2>Цвет: {{ car.color }}</h2>
        <h2>Описание: {{ car.description }}</h2><br>
        <h2>Комплектация:</h2>
        <h3>{{ car.equipment }}</h3>
    {% endfor %}
{% endblock %}
