{% load static %}
<!-- Chooseus Section Begin -->
<section class="chooseus spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="chooseus__text">
                    <div class="section-title">
                        <h2>Почему люди выбирают нас ?</h2>
                        <p>За 10 лет нас выбрали 10000 клиентов по следующий критериям:</p>
                    </div>
                    <ul>
                        <li><i class="fa fa-check-circle"></i>  Открытость.</li>
                        <li><i class="fa fa-check-circle"></i>  Клиентоориентрованность.</li>
                        <li><i class="fa fa-check-circle"></i>  Юридическая грамотность.</li>
                        <li><i class="fa fa-check-circle"></i>  Отбор автомобилей.</li>
                    </ul>
                    <a href="#" class="primary-btn">О нас </a>
                </div>
            </div>
        </div>
    </div>
    <div class="chooseus__video set-bg">
        <img src="{% static 'autosalon/img/chooseus-video.png' %}" alt="">
        <a href="https://www.youtube.com/watch?v=Xd0Ok-MkqoE"
            class="play-btn video-popup"><i class="fa fa-play"></i></a>
    </div>
</section>
<!-- Chooseus Section End -->