{% load static %}
<!-- Cta Begin -->
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="cta__item set-bg" data-setbg="{% static 'autosalon/img/cta/cta-1.jpg' %}">
                    <h4>Вы хотите купить автомобиль ?</h4>
                    <p>Переходите в наш каталог автомобилей и выберите свой автомобиль!</p>
                    <a href="{% url 'search' %}" class="primary-btn">Покупка</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="cta__item set-bg" data-setbg="{% static 'autosalon/img/cta/cta-2.jpg' %}">
                    <h4>Вы хотите арендовать автомобиль ?</h4>
                    <p>Переходите в наш каталог аврендоваенных автомобилей и выберите себе любой автомобиль!</p>
                    <a href="#" class="primary-btn">Аренда</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cta End -->
