<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <h2>Давайте вместе дружить!</h2>
                        <p>Если хотите получить дополнительную информацию, свяжитесь с нами! Заполните соответствующие
                            поля, и мы свяжимся с вами в ближайшее время)</p>
                    </div>
                    <ul>
                        <li><p>Время работы:</p></li>
                        <li><span>Будние дни:</span>  9:00 - 19:00</li>
                        <li><span>Суббота:</span>  9:00 - 18:00</li>
                        <li><span>Воскресеньe:</span>  Выходной</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form method="post">
                        {{ form.email }}
                        {{ form.topic_of_the_question }}
                        {{ form.question }}
<!--                        <input type="text" placeholder="Тема вопроса">-->
<!--                        <textarea placeholder="Ваш вопрос"></textarea>-->
                        <button type="submit" class="site-btn">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
