{% extends 'shop/base.html' %}

{% block title %}Регистрация пользователя{% endblock %}

{% block content %}

    {% include 'shop/components_index/page_preloder.html' %}

    {% include 'shop/components_index/offcanvas_menu.html' %}

    {% include 'shop/components_index/header_section.html' %}

    {% include 'users/components_register/breadcrumb.html' %}

    {% include 'users/components_register/register_form.html' %}

    {% include 'shop/components_index/footer_section.html' %}

{% endblock %}