{% extends 'shop/base.html' %}

{% block title %}Регистрация пользователя{% endblock %}

{% block content %}

    {% include 'users/components_sign_up/page_preloder.html' %}

    {% include 'users/components_sign_up/offcanvas_menu.html' %}

    {% include 'users/components_sign_up/header_section.html' %}

    {% include 'users/components_sign_up/sign_up.html' %}

    {% include 'users/components_sign_up/footer_section.html' %}

    {% include 'users/components_sign_up/search.html' %}

{% endblock %}