{% load static %}
<!-- Clients Begin -->
<div class="clients spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title client-title">
                    <span>Партнёры</span>
                    <h2>Наши патнёры-клиенты, которые нам доверяют</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'autosalon/img/clients/client-1.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'autosalon/img/clients/client-2.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'autosalon/img/clients/client-3.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'autosalon/img/clients/client-2.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'autosalon/img/clients/client-4.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'autosalon/img/clients/client-5.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'autosalon/img/clients/client-6.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="{% static 'autosalon/img/clients/client-7.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Clients End -->