{% load static %}
<!-- Counter Begin -->
<div class="counter spad set-bg" data-setbg="img/counter-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">2000</h2>
                    <strong>+</strong>
                    <p>Количество автомобилей, реализуемых нами</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">7700</h2>
                    <strong>+</strong>
                    <p>Количество автомобилей, проданных через наш автосалон</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1922</h2>
                    <p>Отзывы наших партнёров</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">10000</h2>
                    <strong>+</strong>
                    <p>Количество наших счастливых клиентов</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter End -->
