{% load static %}
<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="{% static 'autosalon/img/breadcrumb-bg.jpg'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    {% for car in car_details %}
                        <h2>{{ car.car_brand }} {{ car.car_model }} {{ car.car_body }}</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Begin -->