{% extends 'shop/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <h2>Мы являемся одним из самых честных и клиенто-ориентрованнных автосалонов в Беларуси!</h2>
    <h2>Благодоря нам тысяч белорусов и наш гостей со всех стран мира смогли осуществить свою мечту
        и смогли приобрести надёжный, современный и быстрый автомобиль!</h2>
    <h2>Наши социальные сети:</h2>
        <h3><li>Instagram: ...</li></h3>
        <h3><li>ВКонтакте: ...</li></h3>
        <h3><li>Twitter: ...</li></h3>
        <h3><li>FaceBook: ...</li></h3>

    <h2>Наш контактные телефоны:</h2>
        <h3><li>A1 - ...</li></h3>
        <h3><li>МТС - ...</li></h3>
        <h3><li>life - ...</li></h3>
{% endblock %}