{% extends 'shop/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}

    {% include 'shop/components_about/page_preloder.html' %}

    {% include 'shop/components_about/offcanvas_menu.html' %}

    {% include 'shop/components_about/header_section.html' %}

    {% include 'shop/components_about/breadcrumb.html' %}

    {% include 'shop/components_about/about_us_section.html' %}

    {% include 'shop/components_about/testimonial_section.html' %}

    {% include 'shop/components_about/counter.html' %}

    {% include 'shop/components_about/clients.html' %}

    {% include 'shop/components_about/footer_section.html' %}

    {% include 'shop/components_about/search.html' %}

{% endblock %}