{% extends 'shop/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}

    {% include 'shop/components_index/page_preloder.html' %}

    {% include 'shop/components_index/offcanvas_menu.html' %}

    {% include 'shop/components_index/header_section.html' %}

    {% include 'shop/components_about/breadcrumb.html' %}

    {% include 'shop/components_about/about_us_section.html' %}

    {% include 'shop/components_about/testimonial_section.html' %}

    {% include 'shop/components_about/counter.html' %}

    {% include 'shop/components_about/clients.html' %}

    {% include 'shop/components_index/footer_section.html' %}

{% endblock %}