{% extends 'shop/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}

  {% include 'shop/components_contact/page_preloder.html' %}

  {% include 'shop/components_contact/offcanvas_menu.html' %}

  {% include 'shop/components_contact/header_section.html' %}

  {% include 'shop/components_contact/breadcrumb.html' %}

  {% include 'shop/components_contact/contact_section.html' %}

  {% include 'shop/components_contact/contact_address.html' %}

  {% include 'shop/components_contact/footer_section.html' %}

  {% include 'shop/components_contact/search.html' %}

{% endblock %}