{% extends 'shop/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}

  {% include 'shop/components_contact/page_preloder.html' %}

  {% include 'shop/components_contact/offcanvas_menu_begin.html' %}

  {% include 'shop/components_contact/header_section_begin.html' %}

  {% include 'shop/components_contact/breadcrumb_end.html' %}

  {% include 'shop/components_contact/contact_section_begin.html' %}

  {% include 'shop/components_contact/contact_address_begin.html' %}

  {% include 'shop/components_contact/footer_section_begin.html' %}

  {% include 'shop/components_contact/search_begin.html' %}

{% endblock %}