{% extends 'shop/base.html' %}


{% block title %}Автосалон №1{% endblock %}


{% block content %}

    {% include 'shop/components_homepage/page_preloder.html' %}

    {% include 'shop/components_homepage/offcanvas_menu.html' %}

    {% include 'shop/components_homepage/header_section.html' %}

    {% include 'shop/components_homepage/hero_section.html' %}

    {% include 'shop/components_homepage/services_section.html' %}

    {% include 'shop/components_homepage/feature_section.html' %}

    {% include 'shop/components_homepage/chooseus_section.html' %}

    {% include 'shop/components_homepage/cta.html' %}

    {% include 'shop/components_homepage/footer_section.html' %}

    {% include 'shop/components_homepage/search.html' %}

{% endblock %}