{% extends 'shop/base.html' %}


{% block title %}Автосалон №1{% endblock %}


{% block content %}

    {% include 'shop/components_index/page_preloder.html' %}

    {% include 'shop/components_index/offcanvas_menu.html' %}

    {% include 'shop/components_index/header_section.html' %}

    {% include 'shop/components_index/hero_section.html' %}

    {% include 'shop/components_index/services_section.html' %}

    {% include 'shop/components_index/feature_section.html' %}

    {% include 'shop/components_index/chooseus_section.html' %}

    {% include 'shop/components_index/cta.html' %}

    {% include 'shop/components_index/footer_section.html' %}

{% endblock %}