<section class="register-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="register-form p-4 border rounded">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
<!--                                    <input type="username" class="form-control" name="username" placeholder="Имя пользователя" required>-->
                                    <h5>Имя пользователя: {{ form.username }}</h5>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
<!--                                    <input type="email" class="form-control" name="email" placeholder="Адрес электронной почты" required>-->
                                    <h5>Пароль: {{ form.password }}</h5>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-12">
                                <a href="{% url 'homepage' %}"><button type="submit" class="btn btn-primary btn-block">Войти</button></a>
                            </div>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <p>У вас нет аккаунта?  <a href="{% url 'signup' %}">Регистрация</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>